body{
	background-image: url('http://energobyt.ru/wp-content/uploads/2014/10/%D1%84%D0%BE%D0%BD-%D0%B4%D0%BB%D1%8F-%D1%81%D0%B0%D0%B9%D1%82%D0%B0.jpg');
}
div.text{
	  width: 350px;
    height: 120px;
    margin-left: 480px;
    border: 5px dotted darkmagenta;
    padding: 0px 0px 20px 14px;
}
h3{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.autorize {
  width: 360px;
  padding: 8% 0 0;
  margin-left: 280px;
  display: -webkit-box;
}
.form1 {
  position: relative;
  z-index: 1;
  background: white;
  width: 250px;
  height:270px;
  margin-right: 200px;
  padding: 35px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form2 {
	position: relative;
	width: 250px;
	height: 270px;
	padding: 35px;
	text-align: center;
	background: white;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form1 input, .form2 input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form1 button, .form2 button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form1 button:hover, .form2 button:hover, .form1 button:active, .form2 button:active,.form1 button:focus, .form2 button:focus {
  background: #43A047;
}
.form1 .message, .form2 .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form1 .message a, .form2 .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form1 register-form{
	display: block;
	float: left;
}
.form2 login-form{
	display: block;
	float: right;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
