$cont-color:#D2B48C;
$but-color:#FF6347;
$bg-image: url('http://energobyt.ru/wp-content/uploads/2014/10/%D1%84%D0%BE%D0%BD-%D0%B4%D0%BB%D1%8F-%D1%81%D0%B0%D0%B9%D1%82%D0%B0.jpg');
$ff: "Trebuchet MS", Arial, Helvetica, sans-serif;
@mixin dis-pos{
	display: inline-block;
	position: relative;
}
@mixin col-pad-font{
	background-color: #FF6347;
	color: white;
	padding: 12px;
	font-size: 12px;
	border:none;
}