@import "colors.scss";

@keyframes movement{
	0% {left:0px;opacity: 1;}
	50% {left:900px;opacity: 1;}
	100% {left:0px; opacity: 1;}
}
body{
	background-image: $bg-image;
}

#main1{
	text-align: center;
	font-family: $ff;
}
.p{
	margin-left: 20px;
	font:20px Verdana;
	font-variant: small-caps;
}
.logo{
	width: 150px;
	height:150px;
	margin-left:550px;
}
.blocks{
	margin-left:50px;
	margin-top:20px;
	width:400px;
	display: -webkit-box; 
}
.dropbtn{ @include col-pad-font; }
.dropdown{ @include dis-pos }

.dropdown-content{
	display: none;
	position: absolute;
	background-color: $cont-color;
	a {color: white;
	padding: 12px;
	display: block;} 
}
.dropdown:hover .dropdown-content {
    display: block; 
}
.dropdown:hover .dropbtn {
    background-color:$but-color;
}

.dropbtn1{
	@include col-pad-font;
	a:link { text-decoration: none; }
	a:visited {
    text-decoration: none;
    color: white;
	}
	a:hover {
    text-decoration: underline;
    font-family: monospace;
    }
    a:active {
    text-decoration: underline;
	}
}
.dropdown1{	@include dis-pos; }

.car{
	position: relative;
	width: 350px;
	height: 250px;
	animation: movement 5s;
	animation-iteration-count: 10;
	animation-direction: reverse;
}
