@import "colors.scss";
body{
	background-image: $bg-image;
}
@media screen and (max-width: 720px){
	.dropdown_menu{
		display: flex;
		flex-wrap:wrap;
		justify-content: center;
		position: absolute;
	}
	.dropdown, .dropdown1{
		display: inline;
		position: relative;
		margin-top:15px;
	}
	#main1{
		text-align: left;
		font-family: $ff;
		max-width: 480px;
	}
	.logo{
		width: 150px;
		height:150px;
		margin-left: 60px;
	}
	.blocks{
		margin-top: 20px;
		display: inline;
		width:380px;
		font-size: 25px;
	}
	.dropbtn{
		background-color: $but-color;
		color:white;
		padding: 12px;
		font-size: 12px;
		border:none;
	}
	.dropdown{
		@include dis-pos;
		width: 90px;
	}
	.dropdown-content{
		display: none;
		position: absolute;
		background-color:$cont-color;
		a {color: white;
		padding: 12px;
		display: block;}
	}
	.dropdown:hover .dropdown-content {
    	display: block; 
	}
	.dropdown:hover .dropbtn {
   	 	background-color:$but-color;
	}	
	.dropbtn1{
		@include col-pad-font;
		a:link {
    	text-decoration: none;
		}
		 a:visited {
    	text-decoration: none;
    	color: white;
		}
		a:hover {
  	  	text-decoration: underline;
  	  	font-family: monospace;
		}
		a:active {
    	text-decoration: underline;
		}
	}
	.dropdown1{
		@include dis-pos;
	}
	.car{
		margin-left: -5px;
	}
}