body {
  background-image: url("http://energobyt.ru/wp-content/uploads/2014/10/%D1%84%D0%BE%D0%BD-%D0%B4%D0%BB%D1%8F-%D1%81%D0%B0%D0%B9%D1%82%D0%B0.jpg"); }

@media screen and (max-width: 720px) {
  .dropdown_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute; }

  .dropdown, .dropdown1 {
    display: inline;
    position: relative;
    margin-top: 15px; }

  #main1 {
    text-align: left;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    max-width: 480px; }

  .logo {
    width: 150px;
    height: 150px;
    margin-left: 60px; }

  .blocks {
    margin-top: 20px;
    display: inline;
    width: 380px;
    font-size: 25px; }

  .dropbtn {
    background-color: #FF6347;
    color: white;
    padding: 12px;
    font-size: 12px;
    border: none; }

  .dropdown {
    display: inline-block;
    position: relative;
    width: 90px; }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #D2B48C; }
    .dropdown-content a {
      color: white;
      padding: 12px;
      display: block; }

  .dropdown:hover .dropdown-content {
    display: block; }

  .dropdown:hover .dropbtn {
    background-color: #FF6347; }

  .dropbtn1 {
    background-color: #FF6347;
    color: white;
    padding: 12px;
    font-size: 12px;
    border: none; }
    .dropbtn1 a:link {
      text-decoration: none; }
    .dropbtn1 a:visited {
      text-decoration: none;
      color: white; }
    .dropbtn1 a:hover {
      text-decoration: underline;
      font-family: monospace; }
    .dropbtn1 a:active {
      text-decoration: underline; }

  .dropdown1 {
    display: inline-block;
    position: relative; }

  .car {
    margin-left: -5px; } }

/*# sourceMappingURL=style_mob.css.map */
