@keyframes movement {
  0% {
    left: 0px;
    opacity: 1; }
  50% {
    left: 900px;
    opacity: 1; }
  100% {
    left: 0px;
    opacity: 1; } }
body {
  background-image: url("http://energobyt.ru/wp-content/uploads/2014/10/%D1%84%D0%BE%D0%BD-%D0%B4%D0%BB%D1%8F-%D1%81%D0%B0%D0%B9%D1%82%D0%B0.jpg"); }

#main1 {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; }

.p {
  margin-left: 20px;
  font: 20px Verdana;
  font-variant: small-caps; }

.logo {
  width: 150px;
  height: 150px;
  margin-left: 550px; }

.blocks {
  margin-left: 50px;
  margin-top: 20px;
  width: 400px;
  display: -webkit-box; }

.dropbtn {
  background-color: #FF6347;
  color: white;
  padding: 12px;
  font-size: 12px;
  border: none; }

.dropdown {
  display: inline-block;
  position: relative; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #D2B48C; }
  .dropdown-content a {
    color: white;
    padding: 12px;
    display: block; }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown:hover .dropbtn {
  background-color: #FF6347; }

.dropbtn1 {
  background-color: #FF6347;
  color: white;
  padding: 12px;
  font-size: 12px;
  border: none; }
  .dropbtn1 a:link {
    text-decoration: none; }
  .dropbtn1 a:visited {
    text-decoration: none;
    color: white; }
  .dropbtn1 a:hover {
    text-decoration: underline;
    font-family: monospace; }
  .dropbtn1 a:active {
    text-decoration: underline; }

.dropdown1 {
  display: inline-block;
  position: relative; }

.car {
  position: relative;
  width: 350px;
  height: 250px;
  animation: movement 5s;
  animation-iteration-count: 10;
  animation-direction: reverse; }

/*# sourceMappingURL=style.css.map */
