@keyframes move{
    0%   {background-color:red; left:10px; top:0px;}
    25%  {background-color:yellow; left:10px; top:100px;}
    50%  {background-color:blue; left:1200px; top:100px;}
    75%  {background-color:green; left:1200px; top:0px;}
    100% {background-color:red; left:10px; top:0px;}
}
@keyframes jazz{
    0%   {background-color:red; left:10px; top:0px;}
    25%  {background-color:yellow; left:10px; top:100px;}
    50%  {background-color:blue; left:1200px; top:100px;}
    75%  {background-color:green; left:1200px; top:0px;}
    100% {background-color:red; left:10px; top:0px;}
}
body{
  background-image: url('http://energobyt.ru/wp-content/uploads/2014/10/%D1%84%D0%BE%D0%BD-%D0%B4%D0%BB%D1%8F-%D1%81%D0%B0%D0%B9%D1%82%D0%B0.jpg');
}
table{
    margin-left: 400px;
    margin-top: 120px;
    text-align: left;
    border-collapse: separate;
    border: 1px solid #ddd;
    border-spacing: 10px;
    border-radius: 3px;
    background: #fdfdfd;
    font-size: 14px;
    width: auto;
 }
  td,th{
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 3px;    
  }
  th{
    background: #E4E4E4;
  }
  caption{
    font-style: italic;
    text-align: right;
    color: #547901;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  	font-size: 25px;
  }
.first{
  background-color: yellow;
}
.second{
  width:150px;
}
.third{
  width:200px;
}

.anim1{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: move;
    animation-duration: 4s;
    animation-direction: normal; 
    animation-iteration-count: 10;
    animation-fill-mode: forwards;
}
.anim2{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: jazz;
    animation-duration: 4s;
    animation-direction: reverse; 
    animation-iteration-count: 10;
    animation-fill-mode: forwards;
}