body{
	background-image: url('http://energobyt.ru/wp-content/uploads/2014/10/%D1%84%D0%BE%D0%BD-%D0%B4%D0%BB%D1%8F-%D1%81%D0%B0%D0%B9%D1%82%D0%B0.jpg');
}
@media screen and (max-width: 720px){
	.table{
    	margin-left: -5px;
    	margin-top: 10px;
    	text-align: left;
    	border-collapse: separate;
    	border: 1px solid #ddd;
    	border-spacing: 10px;
    	border-radius: 3px;
    	background: #fdfdfd;
    	font-size: 18px;
    	width: 5px;
 	}
 	.first{
    	border: 1px solid #ddd;
    	padding: 5px;
    	border-radius: 3px;  
        width:80px;
        background-color: yellow;  
  	}
    .capt{
    	font-style: italic;
    	text-align: left;
    	color: #547901;
    	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  		font-size: 25px;
  	}
 	.tb{
        border: 1px solid #ddd;
        border-radius: 3px; 
    }
	
}
