body{
	background-image: url('http://energobyt.ru/wp-content/uploads/2014/10/%D1%84%D0%BE%D0%BD-%D0%B4%D0%BB%D1%8F-%D1%81%D0%B0%D0%B9%D1%82%D0%B0.jpg');
}
@media screen and (max-width: 639px){
	.mainest{
		position: static;
		display: block;
	}
	.main1{
		position: static;
		display: block;
	}
	.main2{
		position: static;
		display: block;
	}
	.heads, .heads2{
		position: relative;
		display: block;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size: 30px;
	}
	.head1{
		display: block;
	}
	.head2{
		display:block;
		margin-left:0px;
	}
	.head3{
		display: block;
	}
	.head4{
		display: block;
		margin-left: 0px;
	}
	
	.containers1{
		display: block;
		position: relative;
	}
	.cont1, .cont2{
		display: inline-flex;
		position: relative;
		border: solid grey 1px;
		width: 250px;
		height: 250px;
		padding: 10px;
		background-color: white;
	}
	.cont3{
		display: flex;
		position: relative;
		border: solid grey 1px;
		width: 290px;
		height: 250px;
		padding: 10px;
		margin-top: 48px;
		background-color: white;
	}
	.cont4{
		display: inline-flex;
    	position: relative;
    	border: solid grey 1px;
    	width: 290px;
    	height: 250px;
    	padding: 10px;
    	background-color: white;
	}
	
	.containers2{
		position: relative;
		display: block;
	}
	.cont5, .cont6{
		display: inline-flex;
    	position: relative;
    	border: solid grey 1px;
    	width: 300px;
    	height: 260px;
    	padding: 10px;
    	background-color: white;
	}
	.cont7{
		display: flex;
    	position: relative;
    	border: solid grey 1px;
    	width: 290px;
    	height: 250px;
    	padding: 10px;
    	margin-top: 48px;
    	background-color: white;
	}
	.cont8{
		display: flex;
    	position: relative;
    	border: solid grey 1px;
    	width: 290px;
    	height: 250px;
    	padding: 10px;
    	background-color: white;
	}
	.first, .second, .third, .fourth, .fifth, .sixth, .seventh, .eigth{
		height: 160px;
	}	
	.text{
		font-weight: bold;
		font-size: 25px;
	}
	.abc{
		text-align: center;
		font-size: 25px;
	}
	.shina, .shina2{
		height:150px;
		width:150px;
	}
	.power, .power2{
		height: 150px;
		width: 150px;
	}
}